<% if (error != "") { %>
<div><strong><%= error %></strong></div>
<% } %> <% if (error_msg != "") { %>
<div><strong><%= error_msg %></strong></div>
<% } %> <% if (success_msg != "") { %>
<div><strong><%= success_msg %></strong></div>
<% } %>
