<!DOCTYPE html>
<html>
  <head>
    <%- include ("./partials/header") %>
    <title>首頁</title>
  </head>
  <body>
    <%- include ("./partials/nav") %>
    <div>
      <h1>發文系統</h1>
      <p>使用者可以登入系統、發文</p>
    </div>
  </body>
</html>
